body {
    width: 100%;
    background-color: #B67901;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #0C0C0E;
    padding: 10px 15px;
}

.logo {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #fff;
}

.name {
    font-size: 20px;
}

.specialization {
    font-size: 16px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    height: 100%;
}

.link {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}

.bold {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px 220px;
    font-size: 20px;
    text-align: left;
}

.photo {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}